@font-face {
  font-family: 'MiFuente';
  src: url('../assets/fonts/MiFuente.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.catalogo {
  text-align: center;
  background-color: #f9f9f9; /* fondo suave para separar del resto */
  color: #333;
}
h2{
  font-family: "MiFuente";
}
.productos-grid {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 20px;
  justify-items: center; /* centra las tarjetas */
}
/* Adaptar diseño para pantallas pequeñas */
@media (max-width: 600px) {
  .productos-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    gap: 15px;
  }
}

/* Para pantallas MUY pequeñas (menos de 400px), usa solo 1 columna */
@media (max-width: 400px) {
  .productos-grid {
    grid-template-columns: 1fr;
  }
}
